.App {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    min-height: 100vh;
}

.App-header {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.Weather{
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
}
